* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: rgba(60, 179, 113, 0.48);
}

table {
    border-spacing: 1px;
    background-color: ghostwhite;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15%;
}

.dead {
    background-color: rgba(238, 238, 238, 0.23);
}

.alive {
    background-color: #16bf00;
    border-color: #247d00;
    border-radius: 25%;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.controls {
    width: 300px;
    height: 50px;
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -150px;
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 45%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: ghostwhite;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.btn:hover {
    border-color: black;
}



td:hover {
    border: 1px solid rgba(0, 0, 0, 0.8);
    opacity: 1;
}